<div class='form-container'>
  <div class='container-headline'>
      <h1>Edit Shelter</h1>
      <div class='inner-form-container'>
        <div class='form-container-arrangement'>


          <%= form_for(@shelter) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>

          <div class='form-group'> <%= f.submit class: 'btn btn-info'%></div>

          <div class='delete-link form-group'><%= link_to 'Delete Shelter', pets_path,
          method: :delete,
          data: { confirm: "Are you sure?" } , class: 'btn btn-info' %>
        </div>

        <div class='link-back form-group'><%= link_to "Back to Shelter", shelter_path(@shelter), class: 'btn btn-info' %></div>

        <% end %>
    </div>
  </div>
</div>
</div>

