<h1>Add A New Shelter</h1>
<p>Find me in app/views/shelters/new.html.erb</p>

<%= simple_form_for(@shelter) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.button :submit, class: 'btn btn-primary' %>
  <!-- [...] -->
<% end %>
