<div class='form-container'>
<div class = "container-headline">
<h1>Edit Pet</h1>
<div class='inner-form-container'>
    <div class="col-12 col-lg-6">

      <%= form_for(@pet) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :breed %>
          <%= f.text_field :breed, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :size %>
          <%= f.text_field :size, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :age %>
          <%= f.text_field :age, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :activity_level %>
          <%= f.text_field :activity_level, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :sociability %>
          <%= f.text_field :sociability, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :photo %>
          <%= f.file_field :photo, class: 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-primary'%>
      <% end %>

      <div class='delete-link'><%= link_to 'Delete pet', pet_path(@pet),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </div>
      <div class='link-back'><%= link_to "Back to list", pets_path %></div>
  </div>
</div>
</div>
</div>

