<div class='form-container'>
<div class = "container-headline">
<h1>Edit Pet</h1>
<div class='inner-form-container'>
    <div class='form-container-arrangement'>

      <%= form_for(@pet) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :breed %>
          <%= f.text_field :breed, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :size %>
          <%= f.text_field :size, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :age %>
          <%= f.text_field :age, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :activity_level %>
          <%= f.text_field :activity_level, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :sociability %>
          <%= f.text_field :sociability, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :hypoallergenic %>
          <%= f.text_field :hypoallergenic, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :good_with_kids %>
          <%= f.text_field :good_with_kids, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :good_with_other_pets %>
          <%= f.text_field :good_with_other_pets, class: 'form-control' %>
        </div>


        <div class="form-group">
          <%= f.label :photo %>
          <%= f.file_field :photo, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description  %>
          <%= f.text_field :description , class: 'form-control' %>
        </div>

        <div class='form-group'> <%= f.submit class: 'btn btn-info'%></div>

        <div class='delete-link form-group'><%= link_to 'Delete pet', pet_path(@pet),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: 'btn btn-info' %>
      </div>
      <div class='link-back form-group'><%= link_to "Back to list", pets_path, class: 'btn btn-info' %></div>

      <% end %>

  </div>
</div>
</div>
</div>

