<div class = "form-container">
<div class = "container-headline">
<h1>Add a Pet To Foster</h1>
<div class="inner-form-container">
  <div>
  <%= simple_form_for(@pet) do |f| %>
    <!-- [...] -->
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :size%>
    <%= f.input :age %>
    <%= f.input :activity_level %>
    <%= f.input :sociability %>
    <%= f.input :hypoallergenic %>
    <%= f.input :good_with_kids %>
    <%= f.input :good_with_other_pets %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :description %>
    <%= f.association :shelter, collection: @my_shelters %>
    <!-- f.association :shelter, collection: Shelter.where(user: @user) -->
    <%= f.button :submit, class: 'btn btn-info' %>
    <!-- [...] -->
  <% end %>
  </div>
</div>
</div>
</div>
