<!-- <h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p> -->


<div class="container">
  <div class="row">
    <!-- left side of page with name of pet, their description and details section -->
    <div class="col-8">
      <div class="container pet-container pet-name"><%= @pet.name %></div>
      <div class="container pet-container pet-description"><%= @pet.name %></div>
      <div class="container pet-container pet-details">
        <ul>
          <li class="no-bullets"><%= @pet.breed %></li>
          <li class="no-bullets"><%= @pet.breed %></li>
          <li class="no-bullets"><%= @pet.size %></li>
          <li class="no-bullets"><%= @pet.age %></li>
          <li class="no-bullets"><%= @pet.activity_level %></li>
          <li class="no-bullets"><%= @pet.sociability %></li>
        </ul>
      </div>
    </div>
    <!-- right side of page with photo, foster status and button to initiate foster -->
    <div class="col-4 text-center">
      <div class="container pet-photo">
        <%= cl_image_tag @pet.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="container pet-container"><%= @pet.status %></div>
      <div class="btn btn-success pet-btn">FOSTER ME</div>
    </div>
  </div>
</div>
